img[data-v-9f7d41e3]{width:200px;height:200px;object-fit:scale-down;display:inline-block;border-radius:15px;border:4px solid var(--slidev-theme-primary);background:#fff;box-shadow:0 4px 6px #0000001a}
