ul {
  li {
    list-style-type: none;
  }
  li::before {
    content: "▻";
    margin-right: 0.5rem;
  }
}

.slidev-layout {
  p,
  li {
    font-size: 1.2em;
    line-height: 2;
  }
  h1 {
    font-size: 3em;
  }
  h1,
  h2,
  h3 {
    margin-bottom: 0.5em;
  }
}
